/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: Arial, sans-serif;
  background-color: #0b0c10;
  color: #c5c6c7;
  text-align: center;
}

/* Header */
header {
  background-color: #1f2833;
  padding: 20px;
}

header h1 {
  color: #66fcf1;
  font-size: 2.5em;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #66fcf1;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #45a29e;
}

/* Section styling */
.section {
  padding: 40px 20px;
}

.section h2 {
  color: #66fcf1;
  margin-bottom: 20px;
}

.section h3 {
  color: #0d6efd;
  margin-bottom: 20px;
}

.section h4 {
  color: #0dcaf0;
  margin-bottom: 20px;
}

.section img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#roles img {
  width: 300px; /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Make it responsive */
}

.roles-list {
  list-style: none;
  padding: 10px;
  font-size: 1.1em;
  text-align: center;
  color: #e3e4e6; /* Lighter text for roles list */
}

.roles-list li {
  margin: 5px 0;
}

.role-card {
  display: flex;
  align-items: center;
  background-color: #2e2e38;
  border-radius: 8px;
  padding: 15px;
  margin: 15px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 20px auto;
}

.role-image {
  width: 80px;
  height: auto;
  margin-right: 15px;
  border-radius: 8px;
}

.role-info h2 {
  color: #0d6efd; /* Dark neon blue */
  font-size: 1.5em;
  margin-bottom: 5px;
}

.role-info p2 {
  color: #e6e6e6;
  font-size: 1em;
}

/* Gallery styling */
.gallery {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.gallery img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

/* Footer */
footer {
  background-color: #1f2833;
  padding: 20px;
  color: #c5c6c7;
  font-size: 0.9em;
}

footer p {
  margin: 0;
}